
<table class="u-full-width">
  <thead>
    <tr>
      <th>Id</th>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
    </tr>
  </thead>
  <tbody>
  {{#if lengthProd}}
  {{#each productos}}
  <tr>
    <td><p>{{this.id}}</p></td>
    <td> <p> {{this.producto.title}}</p></td>
    <td> <p>{{this.producto.price}}</p></td>
    <td><img class="imagen" src="{{this.producto.thumbnail}}"></td>
  {{/each}}
  {{else}}
    <td><p>No hay productos</p></td>
   {{/if}}
  </tr>
  </tbody>
</table>
<style>
.imagen{width:10%}
table{
  margin: 20px;
  
}
</style>