- var prod = `${productos.length != 0}`
html 
  head
    title Detalles producto
    include ../partials/menu

  body
      table(class='u-full-width')
          thead
            tr
              th="Id"
              th="Title"
              th="Price"
              th="Thumbnail"
            if productos
            each val in productos
              tr 
                td
                  p=`${val.id}`
                td
                  p=` ${val.producto.title}`
                td
                  p=` ${val.producto.price}`
                td
                  img(src=`${val.producto.thumbnail}`,alt='',width=100,height=100 )
            else 
              tr
                td
                  p(class="mensaje")="No hay productos"